#description {
    font-style: italic;
}

#description, #title {
    text-align: center;
}

#name, #email, #age, #dropdown, #favorite_feature {
    width: 100%;
    margin-bottom: 2rem;
    height: 3.5rem;
}

#comments_suggestions {
    width: 100%;
    margin-bottom: 2rem;
}

fieldset {
    background-color:rgba(0, 0, 0, .9);
    margin: 2rem 0;
}

input[type='radio'],
input[type="checkbox"] {
    margin-right: 5px;
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: text-bottom;
}

#submit {
    padding: 1rem;
    background-color: #3ec73e;
    width: 100%;
    border: none;
}

