* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 560px) {
    html {
      font-size: 40%; } }
  @media screen and (min-width: 560px) {
    html {
      font-size: 45%; } }
  @media screen and (min-width: 768px) {
    html {
      font-size: 55%; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 62.5%; } }

body {
  font: 1.6rem Arial, Helvetica, sans-serif;
  background-color: #ff7744; }

#name, #email, #age, #dropdown, #favorite_feature, #comments_suggestions {
  width: 100%;
  margin-bottom: 2rem; }

input[type="radio"] {
  margin-right: 5px; }

input[type="checkbox"] {
  margin-right: 5px;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-bottom; }
